/* ADD YOUR CUSTOM CSS TO THIS FILE */
#firstpicture {
	background-image: url(Banner.jpeg);
}

#about{padding: 30px; margin: 0px; background-color: #F2EAE4; font-size: 25px;
}


#mainNav,#footer { background-color: #1A5F7A; font-family:'Marcellus', serif;
}

#quote {background-color: #F2EAE4; margin: 0px; padding: 70px; text-align: center;
}

#first-card-group, #hotel {background-color: #B5D6D6;padding: 60px;}

#footer {height: 100px;}


h1, h2,h5,.btn-light {	font-family:'Marcellus', serif;
	color:#1A5F7A;}

header {padding: 0px;}
h3,p {font-family: 'Roboto Condensed', sans-serif; color: #34495E;}

.header-image {
background-image: url(“Banner.jpeg”);
}


.navbar-brand,.navbar-toggler-icon,.collapse,.nav-item,.nav-link {color:#F2EAE4;}

.btn-light{ background-color:#F2EAE4;}